.modalTrigger__link {
  display: flex;
  gap: 3px;
  align-items: center;
  cursor: pointer;
  margin-top: 36px;
}

.resource__download {
  width: 170px;
  gap: 3px;
}

.modalTrigger__link {
  border: none !important;
  background-color: transparent !important;
  display: flex !important;
  align-items: center !important;
}

.modalTrigger__link svg {
  align-self: center;
}
