.products {
  display: flex; /* или display: grid */
  flex-direction: column; /* если нужно вертикально */

  width: 100%;
  padding-top: 120px;
  min-height: auto; /* Вместо фиксированной высоты */
  background-image: url("/home_page/products/bg.png"),
    linear-gradient(to bottom, #165eca 0%, #061833 100%);

  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;

  /* смещаем ТОЛЬКО изображение вверх, градиент остаётся по центру */
  background-position: center -125px, center top;
}

.heading {
  text-align: center;
  color: var(--color-white);
  margin-bottom: 60px;
}

/* Стили, применяемые только к CardFrame для адаптации */
.cardFrame {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

/* Адаптация для 1024px */
@media (max-width: 1024px) {
  .cardFrame {
    flex-direction: column; /* Карточки становятся в колонку */
  }
}

@media (max-width: 768px) {
  .products {
    height: auto;
  }
}
