/* ProductCard.module.css */
.card {
  width: 100%;
  display: flex;
  flex-direction: column; /* Делаем карточку флекс-контейнером */
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  border-radius: 16px;
  box-sizing: border-box;
  background: linear-gradient(180deg, #161c20 0%, #0a0d0f 100%);

  box-shadow: inset 0 0 0 1px #3b3d3f4d, 0px 6px 40px #04122799,
    0px 6px 40px #3b3d3f78;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover; /* изображение заполнит блок без искажения */
  position: absolute;
  border-radius: 16px;
  z-index: 1;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 24px 24px 24px;
  margin-top: 216px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Заставляем content занимать всю оставшуюся высоту */
}

.header {
  display: flex;
  height: auto;
  flex-direction: column;
  border-bottom: 1px solid var(--color-gray-900);
  padding-bottom: 10px;
  margin-bottom: 30px;
  gap: 16px;
}

.heading {
  color: var(--color-white);
}

.titleLines {
  display: flex;
  flex-direction: column;
  align-items: center; /* это центрирует каждую строку */
  text-align: center;
}

.titleLines span {
  display: block; /* или inline-block, чтобы можно было центрировать */
  text-align: center;
  white-space: normal;
  word-break: break-word;
}

.description,
.text {
  color: var(--color-gray-700);
}

.itemList {
  display: flex;
  flex-direction: column; /* Располагаем элементы в столбик */
  gap: 12px; /* Отступ между элементами */
  padding-bottom: 10px;
}

.item {
  display: flex;
  align-items: center; /* Центрируем элементы по вертикали */
  gap: 12px; /* Расстояние между иконкой и текстом */
  text-align: left; /* Выравниваем текст по левому краю */
}

.wrapper {
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.productbtn {
  width: 100%;
  height: 40px;
  margin-top: 40px;
}

.productbtn :global(button) {
  width: 100%;
  justify-content: center;
  gap: 3px;
}

/* Адаптация для планшетов */
@media (width >= 768px) {
  .card {
    width: 100%; /* Карточка на всю ширину экрана */
    height: auto; /* Высота по контенту */
    flex-direction: row; /* Изменяем направление на горизонтальное */
    align-items: center;
    text-align: left;
  }

  .img {
    width: 50%; /* Картинка занимает половину */
    height: 100%;
  }

  .container {
    width: 50%; /* Контент занимает вторую половину */
    padding: 24px;
    margin-top: 0;
    margin-left: 390px;
  }

  .titleLines {
    align-items: flex-start;
  }

  .description {
    margin: 16px 0 30px;
  }

  .productbtn {
    width: 60%;
    padding: 16px;
  }
}

/* Возвращаем вертикальное расположение */
@media (width >= 1024px) {
  .card {
    width: 100%;
    min-height: 726px;
    flex-direction: column; /* Вертикальное расположение */
    align-items: flex-start;
    text-align: center;
  }

  .img {
    width: 100%;
    height: auto;
  }

  .container {
    width: 100%;
    padding: 24px;
    margin-top: 230px;
    margin-left: 0px;
  }

  .header {
    min-height: 145px;
  }

  .description {
    margin: 0;
  }

  .titleLines {
    align-items: center;
  }

  .productbtn {
    width: 100%;
    height: 48px;
    margin-top: auto;
  }
}
