.products {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding-top: 120px;
  min-height: auto; /* Вместо фиксированной высоты */
  background-image: url("/home_page/products/bg.png"),
    linear-gradient(to bottom, #165eca 0%, #061833 100%);

  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;

  /* смещаем ТОЛЬКО изображение вверх, градиент остаётся по центру */
  background-position: center -125px, center top;
  overflow: hidden;
}

.products__heading {
  text-align: center;
  color: var(--color-white);
  margin-bottom: 60px;
}

.card__container {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(1, 1fr);
  justify-content: space-between;
}

@media (width >= 1024px) {
  .card__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
  }
}
