.benefits {
  display: flex;
  flex-direction: column; /* Строим элементы сверху вниз */
  align-items: center; /* Центрируем контент */
  width: 100%;
  min-height: auto; /* Вместо фиксированной высоты */
  padding-top: 80px;
  background-color: var(--color-gray-200);
  gap: 40px;
}

.benefits__heading {
  color: var(--color-black);
  padding: 0 20px;
}

.card__container {
  display: grid;
  grid-template-columns: 1fr; /* Одна колонка */
  grid-template-areas:
    "card1"
    "card2"
    "card3"
    "card4";
  gap: 12px;
  background-color: var(--color-gray-200);
}

.card1,
.card2,
.card3,
.card4 {
  width: 100%;
  height: 372px;
  padding: 20px;
  flex-basis: 100%;
  background-color: var(--color-white);
  border-radius: 16px;
  box-shadow: 0 0 10px #d9d9d9;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}

.card1 {
  background-image: url("/home_page/benefits/card1-mobile.png");
}

.card2 {
  background-image: url("/home_page/benefits/card2-mobile.png");
}

.card3 {
  background-image: url("/home_page/benefits/card3-mobile.png");
}

.card4 {
  background-image: url("/home_page/benefits/card4-mobile.png");
}

.card__text {
  padding-top: 8px;
  color: var(--color-gray-900);
}

@media (width >= 768px) {
  .benefits {
    padding-top: 100px;
  }

  .card__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
  }

  .card1,
  .card2,
  .card3,
  .card4 {
    height: 280px;
  }

  /* Уникальные размеры и пропорции */
  .card1 {
    aspect-ratio: 410 / 280; /* Сохраняем пропорции */
    background-image: url("/home_page/benefits/card1-tablet.png");
    flex-basis: 56%;
  }

  .card2 {
    aspect-ratio: 286 / 280;
    background-image: url("/home_page/benefits/card2-tablet.png");
    flex-basis: 38%;
  }

  .card3 {
    aspect-ratio: 296 / 280;
    background-image: url("/home_page/benefits/card3-tablet.png");
    flex-basis: 39%;
  }

  .card4 {
    aspect-ratio: 400 / 280;
    background-image: url("/home_page/benefits/card4-tablet.png");
    flex-basis: 54%;
  }
}

@media (width >= 1024px) {
  .benefits {
    padding-top: 180px;
    gap: 60px;
  }

  .card__container {
    gap: 20px;
    padding: 0px;
  }

  .card1 {
    aspect-ratio: 578 / 363;
    background-image: url("/home_page/benefits/card1.png");
  }

  .card2 {
    aspect-ratio: 405 / 363;
    background-image: url("/home_page/benefits/card2.png");
  }

  .card3 {
    aspect-ratio: 496 / 414;
    background-image: url("/home_page/benefits/card3.png");
  }

  .card4 {
    aspect-ratio: 562 / 414;
    background-image: url("/home_page/benefits/card4.png");
  }
}

@media (width >= 1300px) {
  .card__container {
    width: 1200px;
  }

  .card1,
  .card2,
  .card3,
  .card4 {
    min-height: 436px;
  }

  .card1 {
    aspect-ratio: 694 / 436;
    background-image: url("/home_page/benefits/card1.png");
  }

  .card2 {
    aspect-ratio: 486 / 436;
    background-image: url("/home_page/benefits/card2.png");
  }

  .card3 {
    aspect-ratio: 506 / 456;
    background-image: url("/home_page/benefits/card3.png");
  }

  .card4 {
    aspect-ratio: 674 / 456;
    background-image: url("/home_page/benefits/card4.png");
  }
}
