.btn {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  transition: all 0.3s ease;
  color: var(--color-black);
  background: none;
  border: none;
  padding-left: 6px;
}

.btn:hover {
  color: var(--color-gray-800);
}
