.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: none;
  border-radius: 100px;

  padding: 16px 32px;
  white-space: nowrap;
}

.btn:link,
.btn:visited,
.btn:hover,
.btn:active {
  text-decoration: none;
}
/* Variants */

/* Primary Button */
.btn--primary {
  background-color: var(--color-orange-500);
  color: var(--color-white);
  stroke: var(--color-white);
  fill: none;
}

.btn--primary:hover {
  background-color: #ff671b;
}

.btn--primary:active {
  background-color: var(--color-orange-400);
}

/* Secondary Button */
.btn--secondary {
  border: 1px solid var(--color-gray-700);
  background-color: transparent;
  color: var(--color-black);
  stroke: var(--color-black);
  fill: none;
}

.btn--secondary:hover {
  border-color: var(--color-orange-500);
}

.btn--secondary:active {
  border-color: var(--color-orange-400);
}

/* Tertiary Button */
.btn--tertiary {
  background-color: transparent;
  gap: 3px;
  width: fit-content;
  color: var(--color-black);
  fill: var(--color-orange-500);
  stroke: var(--color-orange-500);
}

.btn--tertiary:hover {
  color: var(--color-gray-800);
  fill: var(--color-orange-400);
  stroke: var(--color-orange-400);
}

.btn--tertiary:active {
  color: var(--color-gray-900);
  fill: var(--color-orange-400);
  stroke: var(--color-orange-400);
}

/*  Sizes */
.btn--lg {
  padding: 13px 32px;
  font-size: 16px;
}

.btn--md {
  padding: 9.5px 20px;
  font-size: 16px;
}

.btn--sm {
  padding: 5.5px 20px;
  font-size: 14px;
}
