.grid {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.inside__grid {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}

.leftPadding,
.rightPadding {
  width: 10px;
  display: flex;
  flex-shrink: 0;
}

.main {
  flex: 1;
  position: relative;
  padding: 10px;
}

@media (width >= 768px) {
  .leftPadding,
  .rightPadding {
    width: 20px;
  }
}

@media (width >= 1024px) {
  .leftPadding,
  .rightPadding {
    width: 100px;
  }

  .main {
    padding: 20px;
  }
}
