.grid {
  position: relative;
  width: 100%;
  padding: 0 10px;
}

.inside__grid {
  position: relative;
  margin: 0 auto;
  padding: 10px;
  max-width: 1240px;
}

@media (width >= 1024px) {
  .grid {
    padding: 0 20px;
  }

  .inside__grid {
    padding: 20px;
  }
}
