.hero {
  margin-top: -78px;
  height: 694px;
  position: relative;
  width: 100%;
}

.hero__bg {
  position: absolute;
  inset: 0; /* replaces top/left/right/bottom: 0 */
  pointer-events: none;
}

.hero__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
  padding: 110px 20px 0 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero :global(.my-glow-margin) {
  margin-top: 14px;
}

@media (width >= 768px) {
  .hero {
    height: 716px;
  }

  .hero__content {
    gap: 20px;
    padding: 130px 20px 0 20px;
  }

  .hero :global(.my-glow-margin) {
    margin-top: 22px;
  }
}

@media (width >= 1024px) {
  .hero {
    margin: 0px;
  }

  .hero__content {
    gap: 30px;
    padding: 206px 126px 0;
    align-items: start;
    text-align: left;
  }

  .hero :global(.my-glow-margin) {
    margin-top: 12px;
  }
}
