---
import Button from '../../../components/Button/Button';
import styles from './Hero.module.css';
---

<div class={styles.hero}>
  <div class={styles.content}>
    <h1 class={styles.header}>Agent Operations Director</h1>
    <h2 class={styles.text}>Runtime visibility and governance for ML infrastructure teams to maximize GenAI ROI</h2>
    <Button appearance="big">Request a demo</Button>
  </div>
</div>