@import url("./typography.css");
@import url("./color.css");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-gray-200);
  color: var(--color-black);
  min-height: 100vh; /* Всегда занимает всю высоту экрана */
  font-family: "Poppins";
}

button {
  font-family: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
