---
// Pattern.astro
import styles from './Pattern.module.css';

interface PatternProps {
  variant?: "gray" | "blue";
  size?: "default" | "large" | "vertical";
  stopAtTop?: boolean;
}

const {
  variant = 'gray',
  size = 'default',
  stopAtTop = false
} = Astro.props;

const classes = [
  styles.pattern,
  styles[variant],
  styles[size],
  stopAtTop ? styles.patternStopAtTop : ''
].join(' ');
---
<div class={classes}>
    <slot />
</div>

