.hero__form {
  width: 100%;
  margin: 22px auto 0;
}

.subscribe__form {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 335px;
}

.input {
  width: 100%;
  padding: 14px 140px 14px 20px;
  color: var(--color-black);
  border: 1.5px solid white;
  appearance: none;
  border-radius: 100px;
  font-size: 16px;
  line-height: 1;
  outline: none;
  transition: all 0.2s ease;
}

.input:-internal-autofill-selected {
  background-color: transparent !important;
}

.input::placeholder {
  color: var(--color-gray-600);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.input:focus::placeholder {
  color: var(--color-gray-neutrals);
}

.input__error__message {
  margin: 4px 0 0 20px;
  color: var(--color-error);
  font-size: 12px;
  line-height: 15.6px;
}

.submit__btn {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 121px;
  height: 40px;
}

.policy {
  color: var(--color-gray-900);
  margin-top: 8px;
  text-align: center;
}

.policy a {
  color: var(--color-blue-500);
  text-decoration: none;
}

.policy a:hover {
  color: var(--color-blue-500) !important;
  text-decoration: underline;
}

.submitted__form {
  display: block;
  gap: 10px;
  width: 290px;
  margin: 0 auto;
  border-radius: 38px;
  flex-shrink: 0;
  height: 60px;
  letter-spacing: -0.72px;
  text-align: center;
  white-space: nowrap;
}

.hidden {
  display: none;
}

@media (width >= 768px) {
  .hero__form {
    margin: 24px 0 0;
  }

  .subscribe__form {
    max-width: 407px;
  }

  .input {
    padding: 18px 160px 18px 30px;
  }

  .submit__btn {
    width: 146px;
    height: 48px;
  }

  .submitted__form {
    width: 450px;
    margin: 0 auto;
    height: 76px;
  }
}

@media (width >= 1024px) {
  .policy {
    text-align: left;
  }

  .submitted__form {
    margin: unset;
    text-align: left;
  }

  .subscribe__form {
    margin: unset;
  }
}
