.filter {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  transition: all 0.3s ease;
}

@media (width >= 768px) {
  .filter {
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
}

.select__btn {
  display: flex;
  width: 100%;
  padding: 0px 16px;
  color: var(--color-gray-800);
  border: 1px solid var(--color-gray-500);
  align-items: center;
  background-color: transparent;
  border-radius: 44px;
  cursor: pointer;
  justify-content: space-between;
  appearance: none;
  height: 48px;
  transition: border 0.2s ease-in-out;
}

/* Arrow */
.arrow {
  transition: transform 0.2s ease;
  transform: rotate(0deg);
}

/* When menu is expanded - rotate arrow */
.select__btn[aria-expanded="true"] .arrow {
  transform: rotate(180deg);
}

/* Selected category text */
.label {
  color: var(--color-gray-500) !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Only for selected categories (not Select topic) */
.label.selected {
  color: var(--color-black-900) !important;
}

/* Force gray color for Select topic */
.label:not(.selected) {
  color: var(--color-gray-500) !important;
}

.dropdown {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  z-index: 10;
  width: 100%;
  border: 4px solid transparent;
  box-shadow: 0 6px 40px var(--color-gray-400);
  background-color: var(--color-white);
  border-radius: 16px;
  max-height: 360px;
  overflow-y: auto;
  margin: 10px 0;
}

.dropdown::-webkit-scrollbar {
  display: none;
}

.option {
  display: block;
  width: calc(100% - 14px);
  margin: 0 10px;
  padding: 10px 20px;
  background: none;
  color: var(--color-black);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  height: 44px;
  line-height: 1.5;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  transition: background-color 0.2s ease;
  white-space: nowrap;
  text-decoration: none;
}

.option:hover {
  background-color: var(--color-gray-200);
}

.reset {
  display: none;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--color-gray-700);
  padding: 8px 12px;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.reset:hover {
  color: var(--color-gray-800);
}

@media (width >= 768px) {
  .reset {
    flex-shrink: 0;
  }
}
