.card {
  width: 100%;
  display: flex;
  flex-direction: column; /* Make card a flex container */
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  gap: 12px;
  box-sizing: border-box;
  border-radius: 16px;
  box-shadow: 0px 6px 40px 0px rgba(4, 18, 39, 0.6);
  background: linear-gradient(180deg, rgb(22, 28, 32), rgb(10, 13, 15) 100%);
  overflow: hidden;
}

.card__image {
  position: relative;
  width: 100%;
  height: 300px; /* can be adapted via media query */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card__image svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content {
  display: flex;
  position: relative;
  z-index: 1;
  flex-direction: column;
  padding: 0 23px 40px;
  gap: 12px;
}

.heading {
  color: var(--color-white);
}

.text {
  color: var(--color-gray-700);
}

@media (width >= 768px) {
  .card {
    gap: 7px;
  }

  .card__image {
    height: 200px;
  }

  .content {
    padding: 0 12px 20px;
    gap: 7px;
  }
}

@media (width >= 1024px) {
  .card {
    gap: 12px;
  }

  .card__image {
    height: 320px;
  }

  .content {
    padding: 0 20px 40px;
    gap: 12px;
  }
}
