.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 637px;
  min-height: 637px;
  background-image: url("/home_page/hero_big.svg");
  background-size: cover;
  background-position: center -70px; /* Сдвигаем фон вверх */
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 42px;
  padding: 0px;
}

@media (max-width: 1024px) {
  .hero {
    background-image: url("/home_page/hero.png");
    background-size: cover; /* растягивает картинку */
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* растягивает по высоте экрана */
  }

  :global([data-hero--heading].text__heading--h1) {
    font-size: 40px;
    letter-spacing: -1.5px;
  }

  :global([data-hero--subheading].text__body--18) {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .hero {
    background-image: url("/home_page/hero_small.png");
    height: 637px;
    min-height: 637px;
  }

  .content {
    gap: 30px;
  }

  :global([data-hero--heading].text__heading--h1) {
    font-size: 28px;
    letter-spacing: -1px;
  }

  /* Уменьшаем горизонтальный padding кнопки */
  .hero :global(button) {
    padding-left: 24px;
    padding-right: 24px;
  }
}
