---
import clsx from 'clsx';
import styles from './Trusted.module.css'
import UiPath from '../../../assets/home/logo/ui-path.svg';
import Micro from '../../../assets/home/logo/micro.svg';
import Merc from '../../../assets/home/logo/merc.svg';
import Alaska from '../../../assets/home/logo/alaska.svg';
import Bank from '../../../assets/home/logo/bank.svg';
import Ory from '../../../assets/home/logo/ory.svg';



const logos = [
  { image: UiPath},
  { image: Micro},
  { image: Merc },
  { image: Alaska },
  { image: Bank },
  { image: Ory },
];
---

<div class={styles.trust}>
  <h6 class= {clsx(
      'text__body--16-medium',
      'text__heading--h6-lg',
      'text__body--18-medium--md',
      styles.trust__heading,
  )}>
    Trusted by Innovators Everywhere
  </h6>
  <div class={styles.logo}>
     {logos.map(logo => (
      <div>
         {<logo.image class={styles.img} />}
      </div>
     ))}
  </div>
</div>