---
import styles from './Trusted.module.css'
---

<div class={styles.trust}>
  <h6 class="text__heading--h6" data-trust-heading style={{ color: 'var(--color-white)' }}>Trusted by Innovators Everywhere</h6>
  <div class={styles.logo}>
    <img src="home_page/logo/ui-path.svg" alt="Ui Path" loading="lazy">
    <img src="home_page/logo/micro.svg" alt="MicroStrategy" loading="lazy">
    <img src="home_page/logo/merc.svg" alt="Mercedes Benz" loading="lazy">
    <img src="home_page/logo/alaska.svg" alt="Alaska airlines" loading="lazy">
    <img src="home_page/logo/bank.svg" alt="TD Bank" loading="lazy">
    <img src="home_page/logo/ory.svg" alt="ORY" loading="lazy">
  </div>
</div>