---
import clsx from 'clsx';
import styles from './Trusted.module.css'

const logos = [
  { name: 'ui-path', alt: 'Ui Path' },
  { name: 'micro', alt: 'MicroStrategy' },
  { name: 'merc', alt: 'Mercedes Benz' },
  { name: 'alaska', alt: 'Alaska airlines' },
  { name: 'bank', alt: 'TD Bank' },
  {name: 'ory', alt: 'ORY'},
];
---

<div class={styles.trust}>
  <h6 class= {clsx(
      'text__body--16-medium',
      'text__heading--h6-lg',
      'text__body--18-medium--md',
      styles.trust__heading,
  )}>
    Trusted by Innovators Everywhere
  </h6>
  <div class={styles.logo}>
     {logos.map(logo => (
      <picture>
        <img src={`/home_page/logo/${logo.name}.svg`} alt={logo.alt} loading="lazy" />
      </picture>
    ))}
  </div>
</div>