---
import styles from './Trusted.module.css'
---

<div class={styles.trust}>
  <h1 class={styles.heading}>Trusted by Innovators Everywhere</h1>
  <div class={styles.logo}>
    <img src="home_page/logo/ui-path.svg" alt="Ui Path">
    <img src="home_page/logo/micro.svg" alt="MicroStrategy">
    <img src="home_page/logo/merc.svg" alt="Mercedes Benz">
    <img src="home_page/logo/alaska.svg" alt="Alaska airlines">
    <img src="home_page/logo/bank.svg" alt="TD Bank">
    <img src="home_page/logo/ory.svg" alt="ORY">
  </div>
</div>