.hero {
  background-image: linear-gradient(var(--color-white), #edeeee);
  margin-top: -80px;
  height: 694px;
  position: relative;
  width: 100%;
}

.hero__bg {
  position: absolute;
  width: 100%;
  margin: auto;
  background-image: url("/app_page/hero/hero-mobile.svg");
  background-position: center 22px; /* сдвиг фона вниз */
  background-repeat: no-repeat;
  background-size: auto;
  height: 694px;
}

.hero__content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
  padding: 110px 20px 0 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero :global(.my-glow-margin) {
  margin-top: 14px;
}

@media (width >= 768px) {
  .hero {
    height: 716px;
  }

  .hero__bg {
    height: 716px;
    background-image: url("/app_page/hero/hero-tablet.svg");
    background-position: center 62px;
  }

  .hero__content {
    gap: 20px;
    padding: 130px 20px 0 20px;
  }
}

@media (width >= 1024px) {
  .hero__bg {
    background-image: url("/app_page/hero/hero.svg");
    background-position: center 22px;
  }

  .hero__content {
    gap: 30px;
    padding: 254px 120px 0;
    align-items: start;
    text-align: left;
  }
}
