.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Равномерно распределяет элементы */
  padding: 24px;
  background-color: var(--color-gray-200);
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.nav {
  display: flex;
  gap: 32px; /* Отступы между ссылками */
}

.navItem {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-black-900);
}

.burger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

/* Адаптивность */

@media (max-width: 1024px) {
  .nav {
    display: none;
  }

  .burger {
    display: block;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 24px 20px;
  }

  .actions {
    gap: 16px;
  }
}
