.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Равномерно распределяет элементы */
  padding: 24px 20px;
  background-color: var(--color-gray-200);
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.nav {
  display: none;
}

.burger {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
}

.actions {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* Адаптивность */

@media (width >= 768px) {
  .actions {
    gap: 16px;
  }
}

@media (width >= 1024px) {
  .header {
    padding: 24px 60px;
  }

  .nav {
    display: flex;
    gap: 32px; /* Отступы между ссылками */
  }

  .navItem {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-black-900);
  }

  .burger {
    display: none;
  }
}
