:global(.no-scroll) {
  overflow: hidden;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  isolation: isolate;
}

:global(.hidden) {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

:global(.nav__with__bg) {
  background-color: var(--color-gray-200);
}

.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  flex-wrap: wrap;
}

.logo {
  width: 100px;
  height: 28px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav__mobile {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  display: none;
  width: 100%;
  background-color: var(--color-gray-200);
  height: 100%;
  overflow-y: scroll;
}

.menu__button {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

:global(.nav__mobile.open) {
  display: flex;
  flex-direction: column;
}

.mobile__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px 24px 20px;
}

.nav__close {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.nav__close svg {
  --icon-fill: var(--color-black);
}

.mobile__container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mobile__buttons {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  padding: 0 30px;
  margin-bottom: 60px;
}

/* Адаптивность */
@media (width >= 376px) {
  .pricing_request__btn {
    padding: 5px 16px;
    height: 40px !important;
  }
}

@media (width >= 1024px) {
  .container {
    padding: 20px 48px;
  }

  .menu__button {
    display: none;
  }
}
