.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.list a {
  text-decoration: none;
  color: var(--color-gray-700);
}

.item {
  padding: 7px 0 7px 14px;
  color: var(--color-gray-700);
}

.active {
  color: var(--color-black);
  border-left: 2px solid var(--color-orange-500);
}

.active a {
  color: var(--color-black);
}

.item[data-active="true"] {
  color: var(--color-black);
  border-left: 2px solid var(--color-orange-500);
}

.item[data-active="true"] a {
  color: var(--color-black);
}

@media (width >= 768px) {
  .filter {
    width: 135px;
  }
}
