.cta {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-200);
  text-align: center;
  margin: 0;
  padding: 0;

  position: relative;
  z-index: 1;
  overflow: hidden; /* прячет всё, что вылезает */
}

.topBorder {
  height: 80px;
  /* Убираем влияние флекса и паддингов */
  display: block;
  padding: 0;
  gap: 0;
  flex: none;
  margin: 0 auto;

  /* Чтобы рамка выглядела как у .cardContainer */
  box-sizing: border-box;
}

.ctaCardFrame :global(.cardContainer) {
  margin: 0 !important;
}

.content {
  width: 100%;
  height: 564px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Горизонтальное центрирование */
  padding-top: 40px;
  gap: 45px; /* Расстояние между блоками */
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.visibleLg {
  display: block;
}

.visibleMd,
.visibleSm {
  display: none;
}

.TopLeft,
.BottomRight {
  position: absolute;
  z-index: 0;
  pointer-events: none;
}

.TopLeft {
  top: -50px;
  left: -98px;
}

.BottomRight {
  bottom: -10px;
  right: -72px;
}

.logo {
  max-width: 110px;
}

.btncontainer {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

@media (max-width: 1024px) {
  .topBorder {
    margin: 0;
  }

  .content {
    height: 442px;
    gap: 32px;
  }

  .visibleLg {
    display: none;
  }
  .visibleMd {
    display: block;
  }
  .visibleSm {
    display: none;
  }

  .TopLeftTablet,
  .BottomRightTablet {
    position: absolute;
    z-index: 0;
    pointer-events: none;
  }

  .TopLeftTablet {
    top: -19px;
    left: -19px;
  }

  .BottomRightTablet {
    bottom: 5px;
    right: -13px;
  }

  .logo {
    max-width: 82px;
  }

  :global([data-ct--heading].text__heading--h2) {
    font-size: 28px;
    letter-spacing: -1px;
  }
}

@media (max-width: 767px) {
  .topBorder {
    height: 40px;
  }

  .content {
    height: 526px;
  }

  .visibleLg,
  .visibleMd {
    display: none;
  }
  .visibleSm {
    display: block;
  }

  .TopLeftMobile,
  .BottomRightMobile {
    position: absolute;
    z-index: 0;
    pointer-events: none;
  }

  .TopLeftMobile {
    top: -20px;
    left: -133px;
  }

  .BottomRightMobile {
    bottom: 10px;
    right: -52px;
  }

  :global([data-ct--heading].text__heading--h2) {
    font-size: 24px;
    line-height: 115%;
  }

  .btncontainer {
    flex-direction: column;
  }
}
