.cta {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--color-gray-200);
  text-align: center;
  overflow: hidden;
}

.content {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto;
  padding: 80px 0 125px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.TopLeft {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 176px;
  height: auto;
}

.TopRight {
  position: absolute;
  top: 15px;
  right: 0px;
  z-index: 2;
  width: 173px;
  height: auto;
}

.BottomLeft {
  position: absolute;
  top: 445px;
  left: 10px;
  z-index: 2;
  width: 60px;
  height: auto;
}

.BottomRight {
  position: absolute;
  top: 535px;
  right: -9px;
  z-index: 2;
  width: 95px;
  height: auto;
}

.btncontainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.logo {
  width: 82px;
}

@media (width >= 768px) {
  .TopLeft {
    width: 234px;
    left: 0px;
  }

  .TopRight {
    width: 234px;
    top: 30px;
    right: 0px;
  }

  .BottomLeft {
    width: 75px;
    top: 415px;
    left: 10px;
  }

  .BottomRight {
    width: 190px;
    top: 528px;
    right: -18px;
  }

  .btncontainer {
    display: flex;
    flex-direction: row;
  }
}

@media (width >= 1024px) {
  .content {
    gap: 45px;
    padding-top: 66px;
  }

  .TopLeft {
    width: 314px;
    top: 0px;
    left: 0px;
  }

  .TopRight {
    width: 364px;
    top: 65px;
    right: 0px;
  }

  .BottomLeft {
    width: 100px;
    top: 370px;
    left: 20px;
  }

  .BottomRight {
    width: 171px;
    top: 490px;
    right: -16px;
  }

  .logo {
    width: 110px;
  }
}
