.headertop {
  position: relative; /* Позволяет позиционировать closebtn */
  display: flex;
  align-items: center;
  justify-content: center; /* Центрируем container */
  width: 100%;
  padding: 10px 20px; /* Отступы сверху и снизу по 7px */
  background-image: url("/bg_headertop.svg");
  background-color: var(--color-black);
}

.container {
  display: flex;
  align-items: center; /* Выравниваем элементы по центру по вертикали */
  gap: 40px; /* Задаём расстояние между <p> и <button> */
}

.text,
span {
  color: var(--color-white);
  text-align: left;
}

.closebtn {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 65px; /* Отступ справа */
  top: 50%;
  transform: translateY(-50%); /* Центрируем кнопку по вертикали */
}

/* Адаптация для планшетов */
@media (max-width: 1024px) {
  .headertop {
    justify-content: space-between;
  }

  .container {
    justify-content: space-between;
  }

  .text {
    white-space: normal; /* Разрешаем перенос строк */
  }

  .btntop {
    width: auto;
    flex: 0 1 auto; /* Чтобы кнопка не сжималась и не мешала */
  }

  .closebtn {
    position: static;
    transform: none;
    margin-left: auto; /* ← обязательно для выравнивания вправо */
  }
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Элементы идут в колонку */
    align-items: flex-start; /* Выравнивание текста и кнопки */
    gap: 10px; /* Уменьшаем отступ */
  }

  .text {
    max-width: 90%; /* Текст растягивается на всю ширину */
    white-space: normal; /* Позволяет перенос строк */
    text-align: left; /* Выравнивание */
  }

  :global([data-headertop--text].text__body--14-medium) {
    font-size: 12px;
  }

  .btntop {
    text-align: left; /* Выравнивание ссылки */
  }
}
