.footer {
  width: 100%;
  padding: 0 10px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 100%;
  margin: 0 auto;
  padding: 44px 10px 40px;
}

@media (width >= 768px) {
  .footer {
    padding: 0 20px;
  }

  .container {
    padding-bottom: 60px;
  }
}

@media (width >= 1024px) {
  .footer {
    padding: 0 100px;
  }

  .container {
    max-width: 1240px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-shrink: 0;
  min-width: auto;
}

.heading {
  color: var(--color-black);
}

.links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.linkItem a {
  text-decoration: none;
  color: var(--color-black);
  transition: color 0.3s ease;
  white-space: nowrap;
}

.linkItem a:hover {
  color: var(--color-gray-800);
}

@media (width >= 768px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .column {
    gap: 20px;
    max-width: 190px;
  }

  .links {
    gap: 11px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
}

.social {
  display: flex;
  gap: 20px;
  align-items: center;
}

.logo {
  width: 132px;
  height: 30px;
}

.h3 {
  display: none;
}

.socialText {
  display: none;
}

.social__icons--btn {
  width: 60px;
  height: 40px;
}

.social__icons {
  display: flex;
  gap: 4px;
}

@media (width >= 768px) {
  .info {
    flex-direction: row;
  }

  .h3 {
    display: block;
    color: var(--color-black);
  }

  .logo {
    width: 152px;
    height: 35px;
  }
}

@media (width >= 1024px) {
  .socialText {
    display: block;
    color: var(--color-black);
  }
}

.legal {
  display: flex;
  flex-direction: column-reverse;
  gap: 12px;
  padding: 20px 20px 30px 20px;
  color: var(--color-gray-900);
  justify-content: space-between;
}

.copyright__container {
  display: flex;
  flex-direction: column-reverse;
  gap: 12px;
}

.ppmint {
  display: flex;
  gap: 6px;
  align-items: center;
}

.ppmint > a {
  display: flex;
}

.links__container {
  display: flex;
  gap: 40px;
}

.legal__link {
  color: var(--color-gray-900);
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
}

.legal__link:hover {
  color: var(--color-black);
}

@media (width >= 768px) {
  .legal {
    max-width: 1260px;
    margin: 0 auto;
  }

  .copyright__container {
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }
}

@media (width >= 1024px) {
  .legal {
    flex-direction: row;
    align-items: center;
  }
}
