.work {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  padding: 80px 20px;
}

.heading {
  text-align: center;
}

.workcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 0;
}

.workcard__image > picture > img {
  width: auto;
  height: 100%;
  object-fit: contain;
}

/* Card content */
.workcard__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 8px;
}

/* Header + description */
.workcard__description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Container with text cards */
.textcard__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* One card: icon + text */
.textcard {
  display: flex;
  gap: 12px;
  padding: 12px;
  border-radius: 8px;
  background-color: var(--color-gray-300);
}

/* Text inside one card */
.text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

@media (max-width: 364px) {
  .workcard__image > picture > img {
    width: auto;
    height: 100%;
    object-fit: contain;
  }
}

@media (width >= 768px) {
  .textcard__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* two columns */
  }

  /* last card takes full width of second row */
  .textcard__container .textcard:last-child {
    grid-column: 1 / -1;
  }

  /* icon on top */
  .textcard {
    flex-direction: column;
  }
}

@media (width >= 1024px) {
  .work {
    padding: 120px 0;
    gap: 60px;
  }

  .workcard {
    display: flex;
    gap: 60px;
    padding: 40px 120px;
    flex-direction: row-reverse;
  }

  .workcard__content {
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
  }

  .workcard__image {
    flex: 1; /* takes remaining width, accounting for gap */
  }

  .workcard__image > picture > img {
    width: 100%;
    height: auto;
  }

  .textcard {
    padding: 12px;
  }
}
