/* ProductCard.module.css */
.card {
  width: 100%;
  display: flex;
  flex-direction: column; /* Make card a flex container */
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  border-radius: 16px;
  box-sizing: border-box;
  background: linear-gradient(180deg, #161c20 0%, #0a0d0f 100%);

  box-shadow: inset 0 0 0 1px #3b3d3f4d, 0px 6px 40px #04122799,
    0px 6px 40px #3b3d3f78;
  overflow: hidden;
}

.card_image {
  position: absolute;
  inset: 0; /* replaces top/left/right/bottom: 0 */
  pointer-events: none;
}

.card__image svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 24px 24px 24px;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Make content take all remaining height */
}

.header {
  display: flex;
  height: auto;
  flex-direction: column;
  border-bottom: 1px solid var(--color-gray-900);
  padding-bottom: 10px;
  margin-bottom: 30px;
  gap: 16px;
}

.heading {
  color: var(--color-white);
}

.titleLines {
  display: flex;
  flex-direction: column;
  align-items: center; /* centers each line */
  text-align: center;
}

.titleLines span {
  display: block; /* or inline-block to allow centering */
  text-align: center;
  white-space: normal;
  word-break: break-word;
}

.description,
.text {
  color: var(--color-gray-700);
}

.itemList {
  display: flex;
  flex-direction: column; /* Arrange elements in column */
  gap: 12px; /* Gap between elements */
}

.item {
  display: flex;
  align-items: center; /* Center elements vertically */
  gap: 12px; /* Distance between icon and text */
  text-align: left; /* Align text to left */
}

.wrapper {
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.productbtn {
  width: 100%;
  height: 40px;
  margin-top: 40px;
}

.productbtn :global(button) {
  width: 100%;
  justify-content: center;
  gap: 3px;
}

/* Tablet adaptation */
@media (width >= 768px) {
  .card {
    width: 100%; /* Card takes full screen width */
    height: auto; /* Height by content */
    flex-direction: row; /* Change direction to horizontal */
    align-items: top;
    text-align: left;
  }

  .card__image {
    position: absolute;
    pointer-events: none;
    height: 100%;
    width: auto;
    margin-right: 300px;
    margin-top: -40px;
  }

  .container {
    position: relative;
    width: 50%; /* Content takes second half */
    padding: 24px;
    margin-top: 0px;
    margin-left: 390px;
  }

  .titleLines {
    align-items: flex-start;
  }

  .description {
    margin: 16px 0 30px;
  }

  .productbtn {
    width: 60%;
    padding: 16px;
  }
}

/* Return vertical layout */
@media (width >= 1024px) {
  .card {
    width: 100%;
    min-height: 726px;
    flex-direction: column; /* Vertical layout */
    align-items: flex-start;
    text-align: center;
  }

  .card__image {
    width: 100%;
    height: auto;
    margin-right: 0px;
    margin-top: 0px;
  }

  .container {
    width: 100%;
    padding: 24px;
    margin-top: 220px;
    margin-left: 0px;
  }

  .header {
    min-height: 145px;
  }

  .description {
    margin: 0;
  }

  .titleLines {
    align-items: center;
  }

  .productbtn {
    width: 100%;
    height: 48px;
    margin-top: 40px;
  }
}
