.quote,
.wp-block-quote {
  margin: 36px 0;
  padding: 0;
}

.content {
  position: relative;
  font-size: 20px;
  letter-spacing: -0.02em;
  line-height: 1.5;
  padding-top: 72px;
}

.wp-block-quote {
  position: relative;
  font-size: 20px;
  letter-spacing: -0.02em;
  line-height: 1.5;
}

.wp-block-quote::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='41' viewBox='0 0 40 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.1438 9.98154V26.38C18.1414 28.7515 17.1982 31.0252 15.5213 32.7021C13.8444 34.379 11.5707 35.3221 9.19923 35.3246C8.80385 35.3246 8.42467 35.1676 8.1451 34.888C7.86552 34.6084 7.70846 34.2292 7.70846 33.8338C7.70846 33.4385 7.86552 33.0593 8.1451 32.7797C8.42467 32.5001 8.80385 32.3431 9.19923 32.3431C10.7807 32.3431 12.2975 31.7148 13.4158 30.5965C14.5341 29.4782 15.1623 27.9615 15.1623 26.38V24.8892H3.98154C3.19079 24.8892 2.43242 24.5751 1.87327 24.016C1.31413 23.4568 1 22.6984 1 21.9077V9.98154C1 9.19079 1.31413 8.43242 1.87327 7.87327C2.43242 7.31413 3.19079 7 3.98154 7H15.1623C15.9531 7 16.7114 7.31413 17.2706 7.87327C17.8297 8.43242 18.1438 9.19079 18.1438 9.98154ZM36.7785 7H25.5977C24.8069 7 24.0486 7.31413 23.4894 7.87327C22.9303 8.43242 22.6162 9.19079 22.6162 9.98154V21.9077C22.6162 22.6984 22.9303 23.4568 23.4894 24.016C24.0486 24.5751 24.8069 24.8892 25.5977 24.8892H36.7785V26.38C36.7785 27.9615 36.1502 29.4782 35.0319 30.5965C33.9136 31.7148 32.3969 32.3431 30.8154 32.3431C30.42 32.3431 30.0408 32.5001 29.7612 32.7797C29.4817 33.0593 29.3246 33.4385 29.3246 33.8338C29.3246 34.2292 29.4817 34.6084 29.7612 34.888C30.0408 35.1676 30.42 35.3246 30.8154 35.3246C33.1869 35.3221 35.4606 34.379 37.1375 32.7021C38.8144 31.0252 39.7575 28.7515 39.76 26.38V9.98154C39.76 9.19079 39.4459 8.43242 38.8867 7.87327C38.3276 7.31413 37.5692 7 36.7785 7Z' fill='%23FF5500'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.content p,
.wp-block-quote p {
  margin: 0 !important;
  padding: 0 !important;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 16px;
}

.author {
  color: var(--color-gray-800);
}

.position {
  position: relative;
  color: var(--color-gray-700);
}

.position::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2px;
  width: 3px;
  margin: auto;
  background-color: var(--color-gray-700);
  border-radius: 100%;
  content: none;
  height: 3px;
}

@media (width >= 768px) {
  .content,
  .wp-block-quote {
    font-size: 24px;
  }

  .footer {
    flex-direction: row;
  }

  .position::before {
    content: "";
  }
}
