.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  border: 1px solid var(--color-gray-300);
  box-shadow: 0 6px 40px 0 #cecece99;
  background-color: var(--color-white);
  border-radius: 16px;
  overflow: hidden;
}

.card__image {
  aspect-ratio: 338 / 200;
  border-radius: 4px;
  overflow: hidden;
}

.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  padding-top: 24px;
  flex-grow: 1;
  text-align: left;
  text-wrap: balance;
}

.card__newsname {
  color: var(--color-blue-700);
}

.card__text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
  color: var(--color-gray-900);
  white-space: normal;
}

.card__btn {
  margin-top: auto;
}

@media (width >= 768px) {
  .card {
    padding: 12px;
  }
}

@media (width >= 1024px) {
  .card__image {
    height: 200px;
  }
}

@media (width >= 1240px) {
  .card {
    padding: 20px 24px;
  }
}

@media (width >= 1440px) {
  .card {
    padding: 24px;
  }
}
