.card {
  width: calc(33.33% - 20px);
  max-width: 386px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  gap: 24px;
  padding: 24px;
  border-radius: 16px;
  box-sizing: border-box;

  /* Внешняя тень и внутренняя псевдо-рамка */
  box-shadow: inset 0 0 0 1px #e7e7e7, 0px 6px 40px 0px #cecece99;

  /* Градиент-фон */
  background-image: linear-gradient(
    to left,
    var(--color-white) 100%,
    var(--color-white) 10%
  );
}

.img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid var(--color-gray-300);
}

.content {
  margin: 12px 0;
  gap: 12px;
  overflow: hidden; /* Скрываем лишний текст */
}

.btn {
  height: 36px;
  margin-top: auto;
}

/* Адаптация для мобильных */
@media (max-width: 767px) {
  .card {
    width: 100%; /* Карточки в столбик */
    max-width: 100%; /* Карточки растягиваются на всю ширину экрана*/
  }
}
