.news {
  width: 100%;
  padding: 18px 0 100px;
  background-color: var(--light-grey-color);
  display: flex;
  flex-wrap: wrap; /* Позволяет переносить карточки */
  justify-content: center; /* Центрируем карточки */
  gap: 20px; /* Отступы между карточками */
}

@media (max-width: 375px) {
  .news {
    padding-bottom: 50px;
  }
}
