---
import Grid from '../../../components/Grid/Grid.astro';
import Card from "./Card.astro";
import styles from './News.module.css'

const postsImport = import.meta.glob("/src/pages/posts/*.md", { eager: true });

const posts = Object.values(postsImport).map((post: any) => ({
  ...post.frontmatter,  
  Content: post.default // Основное содержимое Markdown
}));
---
<Grid>
  <div class={styles.news}>
  {posts.map((post) => (
    <Card data={post}>
      <post.Content />
    </Card>
  ))}
  </div>
</Grid>
		
    
  